{% extends "base.html" %}
{%block content%}
<div class="container text-center">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name(class="form-control mt-2", placeholder=form.name.label.text) }}
        {{ form.price(class="form-control mt-2", placeholder=form.price.label.text) }}
        {{ form.img(class="form-control mt-2", placeholder=form.img.label.text) }}
        {{ form.submit(class="btn btn-warning mt-2") }}
    </form>
</div>
{%endblock%}