{% extends "baseQ.html" %}
{% block content %}
<div class="container text-center">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name(class="form-control mt-2", placeholder=form.name.label.text) }}
        {{ form.password(class="form-control mt-2", placeholder=form.password.label.text) }}
        {{ form.submit(class="btn btn-success mt-2") }}
    </form>
    <a href="/Register" class="btn btn-success">აქაუნთი არ გაქ?</a>
</div>
{% endblock %}